@import url('https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css');


.square {
    min-width: 100%;
    min-height: 60px;
    background-color: #f7f7f7;
    border: 1px solid #eee;
    padding: 5px;
    margin-bottom: 5px;
}
